<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">

    <div class="row">
        <div class="col-md-6">
            <h3>merchant Information</h3>
            <form  th:action="@{/merchant/save}" method="post" >
                <input type="hidden" name="id" th:value="${merchant.id}" />

                <div class="form-group">
                    <label for="merchantName">Full Name</label>
                    <input type="text" class="form-control" th:value="${merchant.name}" name="name"
                           id="merchantName" placeholder="Name"/>
                </div>
                
                <input type="hidden"
                       name="${_csrf.parameterName}"
                       value="${_csrf.token}"/>

                <button class="btn btn-primary" type="submit">Add/Edit merchant</button>
            </form>

            <div class="col-md-6">
            </div>
        </div>
    </div>
    
</div>


<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>