<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">

    <div class="row">
        <div class="col-md-6">
            <h3>Product Information</h3>
            <form  th:action="@{/product/save}" method="post" >
                <input type="hidden" name="id" th:value="${product.id}" />

                <div class="form-group">
                    <label for="productName">Name</label>
                    <input type="text" class="form-control" th:value="${product.name}" name="name"
                           id="productName" placeholder="Name"/>
                </div>
                
                <div class="form-group">
                	<label for="merchantName">merchant Name</label>
                		<select name = "merchant" id=merchantName>
                			<option th:each="item : ${merchants}"
						         th:value="${item.name}"
						         th:selected="${item.name} == ${merchant.name} ? true : false"
						         th:text="${item.name}">
						     </option>
                        </select>
				</div>
                
                <input type="hidden"
                       name="${_csrf.parameterName}"
                       value="${_csrf.token}"/>

                <button class="btn btn-primary" type="submit">Edit Product</button>
            </form>

            <div class="col-md-6">
            </div>
        </div>
    </div>
    <br/>
    
    </div>
</div>


<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>