<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">
    <div class="row">
        <h3>List of Products</h3>
        <a th:href="@{/product/add}" class="btn btn-primary" type="button">Add Product</a>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
	                <th>Product Name</th>
	                <th>Product merchant</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="product : ${products}">
                    <td data-th-text="${product.name}">...</td>
                    <td data-th-text="${product.merchant.name}">...</td>
                    <td><a th:href="@{/product/edit?productId=}+${product.id}">Edit</a></td>
                    <td><a th:href="@{/product/delete?productId=}+${product.id}">delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>